@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Urbanist', sans-serif;
    background-color: #f5f5fe;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1,h2, h3, h4, h5{
    color: #131723;
}

p{
    color: #adadad;
}


#separacionTexto{
   margin-bottom: 5px;
}

.separacion{
    height: 10px;
}

.whiteSquareFrame{
    background-color: white;
    height: 325px;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 5px 50px 15px rgba(19, 23, 35,.05);
    transition: all 500ms;
}

.whiteSquareFrameAuto{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 5px 50px 15px rgba(19, 23, 35,.05);
    transition: all 500ms;
}

.whiteSquareFrame:hover, .whiteSquareFrameAuto:hover{
    transform: translateY(-10px);
    box-shadow: 5px 5px 50px 15px rgba(19, 23, 35,.15);
}